body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.logo{
	float: left;
	margin-top: -5px;
	
	max-width: calc(100% - 15% - 20px);
}

.logo img{
	max-width: 100%;
	height: 56px;
}

#navbar{
	height: 40px;
	background-color:#414141;
	color:#fff;
}

#navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#navbar ul li{
    float: right;
    color: white;
	width: 80px;
	line-height: 40px;
    text-align: center;
}

#navbar ul li a{
	color:#fff;
	text-decoration: none;
	font-size:16px;
	font-weight: bold;
	padding: 8px;
}

#navbar ul li a:hover{
	color: skyblue;
}

#navbar ul li ul{
    display: none;
}

#navbar ul li ul li{
	background-color: #888;
	opacity: 0.9;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: right;
}

#navbar ul li ul li a{
	color:white;
	padding: 12px 16px;
	text-decoration: none;
	line-height: 40px;
}

#navbar ul li ul li a img{
	float: left;
	padding-left: 10px; 
	padding-top: 5px; 
}
  
#navbar ul li ul li:hover {
	background-color: #eee;
	border-bottom: 3px #666 solid;
}

#navbar ul li:hover ul{
	display: block;
}

#microService{
	background-image:url('../images/bgimage2.png');
	background-position: center;
	display: block;
	min-width: 800px;
	min-height: 100vh;
	text-align: center;
}

#showcase{
	text-align: center;
	background-image: url('../images/bgimage.jpg');
	min-width: 800px;
	min-height: 100vh;
	background-position: top;
}

#showcase h1{
	color: #fff;
	font-size:50px;
	line-height: 1.6em;
	margin-top: 150px;
	text-align: center;
}

.genSource{
	display: inline-block;
	height: 0px;
}

.genSource img{
	padding: 40px 10px;
	margin: 0px 10px;
	position: relative;
}

.genDescript{
	width: auto;
	height: auto;
	overflow:hidden;
	text-align: center;
}



.genSource .genDescript {
	margin: 0px;
	position: relative;
	opacity: 0;
	z-index: 2;
	transition: 0.3s ease-out;
	top: 120%;
  	left: 50%;
  	transform: translate(-50%, -120%);
	width: auto;
	height: 200px;
	max-width: 160px;
}

.genSource:hover .genDescript {
	background-color: #595959;
	opacity: 0.9;
}

.hoverShow{
	color: white;
	padding: 10px 15px;
}

.hoverShow p {
	font-size: 20px;
	font-weight: bold;
}

.hoverShow a {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	bottom: 10%;
  	left: 50%;
  	transform: translate(-50%, -10%);
}


/*Input Block*/
#inputservice{
	float: left;
	width: 20%;
	border: 1.5px #ccc solid;
	border: none;
	padding: 20px 20px;
	border-radius:15px;
	text-align: left;
	background-color: white;
}

#inputservice h2{
	text-align: center;
	color: royalblue;
}


#inputservice img{
	margin-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#inputservice label{
	font-weight: bold;
	padding: 5px;
	font-size: 14px;
	display:block;
	color: black;
}

#inputservice input[type="text"], #inputservice input[type="number"]{
	padding:10px 0px;
	border: 1px black solid;
	border-radius: 3px;
	width:100%;
}

#inputservice textarea{
	padding:10px 0px;
	border: 1px black solid;
	border-radius: 3px;
	min-width:100%;
	max-width: 100%;
	min-height: 180px;
	max-height: 240px;
}

.custom-select{
	padding:10px 0px;
	border: 1px black solid;
	border-radius: 3px;
	width:100%;
}

.big-logo-block{
	text-align: center;
}

.logo-block{
	max-width: 100%;
	display: inline-block;
}

.normalButton{
	margin-top:10px;
	border: 1px #fff solid;
	border: none;
	border-radius:5px;
	background-color: royalblue;
	color: white;
	padding: 5px 5px;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.normalButton:hover{
	border: 1px navy solid;
	border: none;
	background-color: midnightblue;
	color: #fff;
}

#reGetService{
	margin-top:10px;
	text-decoration: none;
	color: royalblue;
	padding: 5px 5px;
	font-size: 14px;
	font-weight: bold;
	float: right;
}

#reGetService:hover{
	text-decoration: underline;
}

/*Code Block*/
.learnMore{
	background: #777;
	border: 1px solid #ffffff;
	color: white;  
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
}

.learnMore:hover{
	background: royalblue;
}

.descriptionPanel{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.5px;
	padding: 0px;
	text-align: left;
	color: white;
}



.descriptionPanel pre{
	background-color: transparent;
	color: white;
}

.descriptionPanel p{
	background-color: transparent;
	line-height: 32px;
}

.descriptionPanel a{
	color: yellowgreen;
}
.descriptionPanel a:hover{
	color: forestgreen;
}

.codeInText code{
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #aaa;
	color: #444;
}

.code-panel{
	float: right;
	width: 70%;
	border: 1.5px #ccc solid;
	padding: 10px 20px;
	border-radius:15px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.code-panel pre {
	/* margin-left: auto; */
	/* margin-right: auto; */
	padding: 0px 0px;
	width: 90%;
}

.code-panel pre code{
	/* padding: 10px 0px; */
	border-radius: 5px;
	font-style: italic
}

.code-panel h2{
	color: #fff;
	text-align: left;
	padding-left: 20px; 
}

.code-panel h4{
	color: #fff;
	text-align: right;
	padding-right: 20px; 
}


.code-panel ul{
	font-size: 16px;
	font-style: italic;
	padding: 0px;
	list-style: none;
}

.code-panel img{
	padding-left: 10px;
}



.code-panel li{
	text-align: left;
	border: solid 1.5px brown;
	border-radius: 5px;
	background-color: lightcoral;
	color: brown;
	padding: 5px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

#checkError{
	text-align: left;
	border: solid 1.5px brown;
	border-radius: 5px;
	background-color: gold;
	color: brown;
	padding: 5px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

#waitCheck{
	text-align: left;
	border: none;
	border-radius: none;
	background-color: transparent;
	color: white;
	font-weight: bold;
	padding: 5px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

#checkSuccess{
	text-align: left;
	border: solid 1.5px darkgreen;
	border-radius: 5px;
	background-color: lightgreen;
	color: darkgreen;
	padding: 5px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

/*pre code{
    background-color: #e9e9e9;
	border-radius: 5px;
	margin-bottom: none;
	font-size: 16px;
	color: #555;
    line-height: 1.45;
    overflow: auto;
	padding: 5px 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}*/

pre{
	background-color: #e9e9e9;
	border-radius: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ,monospace;
	text-align: left;
	overflow: auto;
	padding: 0px 10px;
	padding-left: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}



/**********************************************************************/
#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding: 5px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}